
<div class="content">

  <h1 class="center toppad">Log in</h1>

  <div class="form-group">
    <%= form_tag sessions_path do%>



    <div class="field roboto-c uppercase lightgrey">
        <h5><%= label_tag :email %></h5>
        <%= text_field_tag :email, nil , class:"form-control formtext bree"%>

    </div>

        <div class="field roboto-c uppercase lightgrey">
        <h5><%= label_tag :password %></h5>
        <%= password_field_tag :password, nil, class: "form-control formtext bree" %>
    </div>

    <div class="submit center roboto-c">
        <%= submit_tag "Login" %>
    </div>

    <% end %>
  </div>
</div>
