<div class="row">
  <div class="col-sm-6 toppad">
  <%= form_for(plant) do |f| %>
    <% if plant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

        <ul>
        <% plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :image, "Plant photo url" %>
      <%= f.text_field :image %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :latin_name %>
      <%= f.text_field :latin_name %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :family %>
      <%= f.text_field :family %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :other_name %>
      <%= f.text_field :other_name %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :origin %>
      <%= f.text_field :origin %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :physical_char, "Physical characteristics" %>
      <%= f.text_field :physical_char %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :flavour_profile %>
      <%= f.text_field :flavour_profile %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :medical_properties %>
      <%= f.text_field :medical_properties %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :thrives_in %>
      <%= f.text_field :thrives_in %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :other_info %>
      <%= f.text_field :other_info %>
    </div>

   <div class="field roboto-c uppercase lightgrey">
      <%= f.label :location_ids, "Locations" %>
      <%= f.collection_select :location_ids, Location.all, :id, :site_name, {},
      {:multiple => true} %>
    </div>

    <script>var locations = <%= Location.first.site_name%>
      locations.toString();
    </script>

    <div class="field roboto-c uppercase lightgrey">
        <%= label_tag :site_name, "Other location" %>
        <%= text_field_tag :site_name %>
    </div>

    <div class="actions roboto-c uppercase lightgrey">
      <%= f.submit %>
    </div>
  </div>
  <div class="col-sm-6 bgyellow"></div>
</div>

<% end %>
