  <div class="form-group">





  <%= form_for(@plant) do |f| %>
    <% if plant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

        <ul>
        <% plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field roboto-c uppercase lightgrey">
      <%= f.file_field :image %>
    </div>

  

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :name, "Plant name" %></h5>
      <%= f.text_field :name, class: "form-control bree" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :latin_name, "Scientific name" %></h5>
      <%= f.text_field :latin_name, class: "form-control bree" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :family, "Species family" %></h5>
      <%= f.text_field :family, class: "form-control bree" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :other_name, "Also known as" %></h5>
      <%= f.text_field :other_name, class: "form-control bree" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :origin %></h5>
      <%= f.text_field :origin, class: "form-control bree", placeholder: "e.g. South-east Asia" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :physical_char, "Physical characteristics" %></h5>
      <%= f.text_field :physical_char, class: "form-control bree" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :flavour_profile %></h5>
      <%= f.text_field :flavour_profile, class: "form-control bree", placeholder: "e.g. Slight sweetness" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :medical_properties %></h5>
      <%= f.text_field :medical_properties, class: "form-control bree" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :thrives_in %></h5>
      <%= f.text_field :thrives_in, class: "form-control bree", placeholder: "e.g. Sunny places" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :other_info %></h5>
      <%= f.text_field :other_info, class: "form-control bree" %>
    </div>

   <div class="field roboto-c uppercase lightgrey">

      <h5><span class="glyphicon glyphicon-check yellow" aria-hidden="true"></span><%= f.label :location_ids, "Location of plant" %></h5>
      <div class="dropdown"><%= f.collection_select :location_ids, Location.all, :id, :site_name, {class: "dropdown-menu"},
      {:multiple => true} %></div>
    </div>

    <div class="field roboto-c uppercase lightgrey typeahead">
        <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= label_tag :site_name, "Create new location (Optional)" %></h5>
        <%= text_field_tag :site_name, nil, class: "form-control typeahead" %>
    </div>



    <div class="submit center roboto-c">
      <%= f.submit %>
    </div>




<% end %>
</div>
