  <div class="form-group">

    <h1>New Plant</h1>


  <%= form_for(@plant) do |f| %>
    <% if plant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

        <ul>
        <% plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :image, "Plant photo url" %>
      <%= f.text_field :image, class: "form-control bree", placeholder: "e.g. http://img.com/plant1.jpg" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :name, "Plant name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :latin_name, "Scientific name" %>
      <%= f.text_field :latin_name, class: "form-control" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :family, "Species family" %>
      <%= f.text_field :family, class: "form-control" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :other_name, "Also known as" %>
      <%= f.text_field :other_name, class: "form-control" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :origin %>
      <%= f.text_field :origin, class: "form-control", placeholder: "e.g. South-east Asia" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :physical_char, "Physical characteristics" %>
      <%= f.text_field :physical_char, class: "form-control" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :flavour_profile %>
      <%= f.text_field :flavour_profile, class: "form-control", placeholder: "e.g. Slight sweetness" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :medical_properties %>
      <%= f.text_field :medical_properties, class: "form-control" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :thrives_in %>
      <%= f.text_field :thrives_in, class: "form-control", placeholder: "e.g. Sunny places" %>
    </div>

    <div class="field roboto-c uppercase lightgrey">
      <%= f.label :other_info %>
      <%= f.text_field :other_info, class: "form-control" %>
    </div>

   <div class="field roboto-c uppercase lightgrey">

      <%= f.label :location_ids, "Location of plant" %>
      <%= f.collection_select :location_ids, Location.all, :id, :site_name, {},
      {:multiple => true} %>
    </div>

    <div class="field roboto-c uppercase lightgrey typeahead">
        <%= label_tag :site_name, "Enter new location" %>
        <%= text_field_tag :site_name, nil, class: "form-control typeahead" %>
    </div>



    <div class="actions roboto-c uppercase lightgrey">
      <%= f.submit %>
    </div>




<% end %>
</div>
