<div class="row">

  <div class="col-sm-6 toppad">
    <div class="content">
      <ul class="list-inline actions roboto-c center">
        <li><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><%= link_to 'Edit', edit_plant_path(@plant) %></li>
        <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to 'Back', plants_path %></li>
      </ul>

      <h2 class="roboto-c center"><%= @plant.name %></h2>


      <h4 class="roboto-c">Scientific name:</h4>
      <p class="lightgrey"><%= @plant.latin_name %></p>

      <h4 class="roboto-c">Family:</h4>
      <p class="lightgrey"><%= @plant.family %></p>

      <h4 class="roboto-c">Also known as:</h4>
      <p class="lightgrey"><%= @plant.other_name %></p>

      <h4 class="roboto-c">Origin:</h4>
      <p class="lightgrey"><%= @plant.origin %></p>

      <h4 class="roboto-c">Physical characteristics:</h4>
      <p class="lightgrey"><%= @plant.physical_char %></p>

      <h4 class="roboto-c">Flavour profile:</h4>
      <p class="lightgrey"><%= @plant.flavour_profile %></p>

      <h4 class="roboto-c">Medical properties:</h4>
      <p class="lightgrey"><%= @plant.medical_properties %></p>

      <h4 class="roboto-c">Thrives in:</h4>
      <p class="lightgrey"><%= @plant.thrives_in %></p>

      <h4 class="roboto-c">Locations:</h4>
      <ul>
        <% @plant.locations.each do |p| %>
          <%= link_to p.site_name, location_path(p) %>
          <br>
        <% end %>
      </ul>



  </div>
  </div>

  <div class="col-sm-6"><div class="fullwidth">
    <img src="<%= @plant.image %>"/>
  </div></div>

</div>
