<div class="form-group">

<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field roboto-c uppercase lightgrey">
    <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :site_name %></h5>
    <%= f.text_field :site_name, class: "form-control formtext bree" %>
  </div>

  <div class="field roboto-c uppercase lightgrey">
    <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :address %></h5>
    <%= f.text_field :address, class: "form-control formtext bree" %>
  </div>

  <div class="field roboto-c uppercase lightgrey">
    <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :type_of_property %></h5>
    <%= f.text_field :type_of_property, class: "form-control formtext bree", placeholder: "e.g. Residential garden, HDB corridor, Community garden, Commercial farm" %>

  </div>


  <div class="field roboto-c uppercase lightgrey">
    <h5><span class="glyphicon glyphicon-pencil yellow" aria-hidden="true"></span><%= f.label :other_info %></h5>
    <%= f.text_field :other_info, class: "form-control formtext bree", placeholder: "e.g. Opening hours, Contact etc" %>
  </div>

  <div class="submit center roboto-c">
    <%= f.submit %>
  </div>
<% end %>
</div>
