<div class="container-fluid">
  <div id="header">
    <div class="row">
      <div class="col-sm-6 col-md-3 toppad">
        <h6 id="menu" class="bree">
          <span class="current">
          <%= link_to plants_path do %>
          <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Plants
          <% end %></span>
        </h6>
      </div>

      <div class="col-sm-6 col-md-6 ">
        <img src="<%= asset_path('foodscapelogoblack.svg')%>"/>
      </div>

      <div class="col-sm-6 col-md-3 toppad">
        <h6 id="menu" class="bree">
          <%= link_to locations_path do %>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  Locations
          <% end %>
        </h6>
      </div>
    </div>
  </div>
<h1 class="roboto-c">Where in Singapore</h1>


  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.site_name %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
