

<div class="container-fluid">

  <div id="header">
    <div class="row">
      <div class="col toppad2">
        <h6 id="menu" class="bree">

          <%= link_to plants_path do %>
          <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Plants
          <% end %>
        </h6>
      </div>

      <div class="col hidez">
        <img src="<%= asset_path('foodscapelogoblack.svg')%>"/>
      </div>

      <div class="col toppad2">
        <h6 id="menu" class="bree">
          <span class="currentp">
            <%= link_to locations_path do %>
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  Locations
            <% end %>
          </span>
        </h6>
      </div>
    </div>

    <h1 class="roboto-c">Where in Singapore</h1>
  </div>

  <form class="searchform center has-feedback" action="<%= locations_path %>" method="get" >

    <%= text_field_tag :search, params[:search], class: "searchfield", placeholder: "Search locations" %>
    <span class="searchicon">
      <span class="glyphicon glyphicon-search"></span>
    </span>
  </form>

  <div class="wrapper">

      <% @locations.each do |location| %>

      <div class="thumbnail center">
        <div class="caption">
          <%= link_to location_path(location), :target => "_blank" do  %>
            <h4 class="roboto-c underline thumbpad">
              <span class="glyphicon glyphicon-tree-deciduous yellow" aria-hidden="true"></span>
              <%= location.site_name %>
            </h4>
          <% end %>
          <div class="bree highlight">Address</div>
          <p class="bree widthpad"><%= location.address %></p>

          <div class="bree highlight">Type of property</div>
          <p class="bree widthpad"><%= location.type_of_property %></p>

          <%= link_to location_path(location), :target => "_blank" do %>
            <div class="showbtn roboto-c">
              Show more
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
