<div class="mobilemenu collapse" id="exCollapsingNavbar">
  <ul>
    <%= link_to new_plant_path do %>
      <li><span class="glyphicon glyphicon-plus-sign lightestgrey" aria-hidden="true"></span>  Add new plant
      </li>
    <% end %>
    <%= link_to new_location_path do %>
      <li><span class="glyphicon glyphicon-plus-sign lightestgrey" aria-hidden="true"></span>  Add new location
      </li>
    <% end %>
  </ul>
</div>

<div class="mtopbar mobile">
  <div class="user bree f-left">
    <% if user_logged_in? %>
      <p class="greeting"> Hello, <%= current_user.name %></p>  | <p> <%= link_to "Log out", logout_path, method: :delete %>
    <% else %></p>
      <p>
        <%= link_to "Log in", login_path %>
        <%= link_to "New user", new_user_path %>
    <% end %></p>
  </div>

  <div class="new-plant f-right">
    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      <span class="glyphicon glyphicon-plus-sign white" aria-hidden="true"></span>
    </a>

  </div>

</div>

<div class="topbar">

  <div class="user bree">
    <% if user_logged_in? %>
      <p class="greeting"> Hello, <%= current_user.name %></p>  | <p> <%= link_to "Log out", logout_path, method: :delete %>
    <% else %></p>
      <p>
        <%= link_to "Log in", login_path %>
        <%= link_to "New user", new_user_path %>
    <% end %></p>

    <% flash.each do |name, message| %>
      <div class="normal flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="home center hidez">
    <h6><a href="<%= plants_path %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></h6>
  </div>


  <div class="new-plant">
    <a class="navbar-toggler normal" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      <span class="glyphicon glyphicon-plus-sign white" aria-hidden="true"></span>Add new entry
    </a>

    <a class="navbar-toggler mobile" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      <span class="glyphicon glyphicon-plus-sign white" aria-hidden="true"></span>
    </a>

  </div>

</div>
