<!DOCTYPE html>
<html>
  <head>
    <title>The Foodscape Plants Wiki</title>

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto+Condensed:700" rel="stylesheet">


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.js', 'jquery.min.js', 'jquery-ui.min.js', 'autocomplete-rails.js', 'rails.js'  %>
    <%= stylesheet_link_tag 'jquery-ui.css' %>
  </head>

  <body>
    <div class="topbar">

      <div id="user" class="bree">
        <% if user_logged_in? %>
          <p class="greeting"> Hello, <%= current_user.name %></p>  | <p> <%= link_to "Log out", logout_path, method: :delete %>
        <% else %></p>
          <p class="greeting"><%= link_to "Log in", login_path %>
        <% end %></p>

        <% flash.each do |name, message| %>
          <div class="flash-message flash-message-<%= name %>">
            <%= message %>
          </div>
        <% end %>

      </div>

      <div id="new-plant">
        <%= link_to new_plant_path do %>
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Add new plant
        <% end %>
      </div>

    </div>




    <%= yield %>




  <%= render "layouts/footer" %>



  </body>

</html>
